@import '../../common/stylus/mixin.styl'
[role="component:shopcart"]
  position fixed
  bottom 0
  left 0
  z-index 50
  width 100%
  height 48px

  .content-wrapper
    display flex
    justify-content space-between
    align-items center
    height 100%
    color #72777d

    .content-left
      display flex
      align-items center
      flex 1
      height 100%
      background #141d27

      .logo-wrapper
        position relative
        top -10px
        box-sizing border-box
        width 56px
        height 56px
        padding 6px
        border-radius 50%
        background #141d27
        margin 0 12px

        .logo-content
          display flex
          justify-content center
          align-items center
          width 100%
          height 100%
          border-radius 50%
          background #2b343c

          &.cart-highlight
            background #00a0dc
            color #fff

          .icon-shopping_cart
            font-size 24px

      .count-wrapper
        position absolute
        top 0
        right 0
        width 24px
        height 16px
        line-height 16px
        text-align center
        font-size 9px
        font-weight 700
        color rgb(255,255,255)
        background-color rgb(240, 20, 20)
        border-radius 7px
        box-shadow 0px 4px 8px 0px rgba(0,0,0,0.4)


      .vertical-divider-wrapper
        box-sizing border-box
        height 100%
        margin 0 12px 0 0
        padding 13px 0

        .divider-content
          height 100%
          verticalDivider(#72777d)

      .price-wrapper
        font-size 16px
        font-weight 700
        margin 0 12px 0 0

        &.cart-highlight
          color #fff

      .goods-describe
        font-size 10px

    .content-right
      display flex
      align-items center
      justify-content center
      flex 0 0 105px
      height 100%
      font-size 12px
      font-weight 700

      &.total-price-not-enough
        background #2b333b

      &.total-price-enough
        background #00b43c
        color #fff

  .balls-wrapper

    .ball-content
      position fixed
      left 34px
      bottom 29px

      transform translate3d(0, 0, 0)
      transition transform .8s cubic-bezier(0.49, -0.29, 0.75, 0.41)

      .ball-inner
        width 16px
        height 16px
        border-radius 50%
        background-repeat no-repeat
        background-size 16px 16px
        // background-image url("http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/750/h/750")
        // background rgb(0, 160, 220)

        transform translate3d(0, 0, 0)
        transition transform .8s linear
