@import '../../common/stylus/mixin.styl'
[role="component:shopcart"]
  position fixed
  bottom 0
  left 0
  z-index 50
  width 100%
  height 48px

  .content-wrapper
    display flex
    justify-content space-between
    align-items center
    height 100%
    color #72777d

    .content-left
      display flex
      align-items center
      flex 1
      height 100%
      background #141d27

      .logo-wrapper
        position relative
        top -10px
        box-sizing border-box
        width 56px
        height 56px
        padding 6px
        border-radius 50%
        background #141d27
        margin 0 12px

        .logo-content
          display flex
          justify-content center
          align-items center
          width 100%
          height 100%
          border-radius 50%
          background #2b343c

          .icon-shopping_cart
            font-size 24px

      .vertical-divider-wrapper
        box-sizing border-box
        height 100%
        margin 0 12px 0 0
        padding 13px 0

        .divider-content
          height 100%
          verticalDivider(#72777d)

      .price-wrapper
        font-size 16px
        font-weight 700
        margin 0 12px 0 0

      .goods-describe
        font-size 10px

    .content-right
      display flex
      align-items center
      justify-content center
      flex 0 0 105px
      height 100%
      font-size 12px
      font-weight 700
      background #2b333b
